<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NliteN Music</title>
	<!-- FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>

	<!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="../styles/home.css">

	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/main.js"></script>
</head>
<body>
	<div class="site-container">
		<div class="site-header">
			<p>nliten</p>
			<div class="nav-hamburger">
				<span class="nav-hamburger-line"></span>
				<span class="nav-hamburger-line"></span>
				<span class="nav-hamburger-line"></span>
				<span class="nav-hamburger-line"></span>
			</div>
		</div>

		<div class="nav-container">
			<ul class="nav-list">
				<li class="nav-list-item">Bio</li>
				<li class="nav-list-item">Music</li>
				<li class="nav-list-item">Photo</li>
				<li class="nav-list-item nav-list-item-line"></li>
				<li class="nav-list-item">
					<ul class="nav-list-social">
						<li class="nav-list-social-item">
							<a href="https://www.facebook.com/TheRealNliteN" target="_blank">
								<img id="fb-icon" src="../images/facebook-icon-white.png">
							</a>
						</li>
						<li class="nav-list-social-item">
							<a href="https://instagram.com/nlitenmusic/" target="_blank">
								<img id="ig-icon" src="../images/instagram-icon-white.png">
							</a>
						</li>
						<li class="nav-list-social-item">
							<a href="https://soundcloud.com/the-real-nliten" target="_blank">
								<img id="sc-icon" src="../images/soundcloud-icon-white.png">
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		
		<div id="home" class="page-section">
			<div class="video-area-container">
				<div class="video-wrap">
					<iframe id="ytplayer" class="video--home" type="text/html" src="http://www.youtube.com/embed/NkJEPMNQfss?autoplay=0"
  					frameborder="0"/>
				</div>
			</div>
		</div>

	</div>
</body>

<html>