body {

	margin: 0;
}

.loading-overlay {
	background-color: white;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.loading-overlay-image {
	display: block;
	margin: 0 auto;
/*	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;*/
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 20%;
	box-shadow: 0 0 25px orange;

	/*animation-name: pulseImage;
	animation-duration: 3s;
	animation-iteration-count: infinite;*/
}

.top-section {
/*	margin-top: 0;*/
	/*background-color: black;*/
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
/*	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	width: 150%;

/*	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
}

/*.parallax {
	perspective: 1px;
	height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax__layer--base {
	transform: translateZ(0);
}
.parallax__layer--back {
 	transform: translateZ(-1px);
}*/

.site-container {
	display: inline-block;
}

.site-container--offset {
	position: absolute;
	top: 100%;
	bottom: 0;
	right: 0;
	left: 0;
}

.page-section { 
/*	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;*/
	float: left;
	overflow: auto;
	width: 100%;
	padding-top: 60px;
	margin-top: -60px;
}

.header-nav-container {
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: white;
	top: 0;
	box-shadow: 0 2px 5px darkorange;
}

.site-header {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 5px 0;
	background-color: white;
}

.site-footer {
	width: 100%;
	padding: 10px 0;
	text-align: center;
	font-size: 18px;
	background-color: white;
}

.site-footer a {
	color: black;
	text-decoration: none;
}

.site-footer-text {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
	letter-spacing: 24px;
	text-transform: uppercase;
	display: inline-block;
    padding: 20px 5px 10px 5px;
}

.nliten-logo {
	width: 45px;
	vertical-align: middle;
	margin-left: 10px;
}

.nliten-logo-wrap {
	display: inline-block;
	margin-right: 10px;
}

.site-header p {
	margin: 0;

	color: black;
	font-size: 200%;
	/*font-family: 'Arimo', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
	letter-spacing: 24px;
	text-transform: uppercase;
	/*text-shadow: -2px 0px 12px pink;*/
}

.nav-hamburger {
	width: 35px;
	position: absolute;
	top: 10px;
	right: 10px;

	background: -webkit-linear-gradient(#DD4B39, #F9EDBE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DD4B39, #F9EDBE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DD4B39, #F9EDBE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DD4B39, #F9EDBE); /* Standard syntax (must be last) */
}

.nav-hamburger:hover {
	cursor: pointer;
}

.nav-hamburger-line {
	width: 100%;
	height: 5px;
	margin: 0 auto;
	background-color: white;
	display: block;
}

.nav-hamburger-line:not(:first-child) {
	margin-top: 6px;
}

.nav-list-item.nav-list-item-line {
	border: none;
	padding: 0;
}

.nav-list {
	margin: 0;
	padding: 0 10px;
	list-style: none;
	display: none;
}

.nav-list-item {
	padding: 5px;
	border-top: 1px solid black;
}



.nav-list-item  a {
	color: black;
	font-family: 'Arimo', sans-serif;
	font-weight: 400;
	font-size: 80%;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-list-social {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 5px;
}

.nav-list-social-item {
	width: 25px;
	height: 30px;
	position: relative;
	margin-right: 15px;
	display: inline-block;
}

/*.advance-section {
	width: 75px;
	height: 25px;
	margin: 0 auto;
	background-color: red;
	position: absolute;
	z-index: 1;
	right: 0;
	display: inline-block;
	left: 0;
	bottom: -15px
}*/

.anchor-tag {
	height: 300px;
	width: 100%;
}

.advance-section p {
	color: white;
	padding: 3px 0 0 10px;
	margin: 0;
}

#fb-icon {
	width: 116%;
	margin-bottom: -2px;
}

#twitter-icon {
	width: 140%;
	margin-bottom: -5px
}


#ig-icon {
	width: 100%;
}

#sc-icon {
	width: 180%;
	margin-bottom: -15px;
}

.sc-embed {
	width: 100%;
	height: 150px;
	padding: 5px 5px;
	box-sizing: border-box;
}

/*.sc-embed {
	width: 48.5%;
}

#sc-embed1,
#sc-embed3 {
	margin: 0 0.5%;
}

#sc-embed1,
#sc-embed2 {
	margin-bottom: 20px;
}*/

.page-section-wrap {
	/*display: inline-block;*/
/*	background-color: black;*/
	padding: 20px 0 0 0;
	padding-bottom: 100px;
}

.page-section-header {
	box-sizing: border-box;
	margin-right: -10px;
	clear: both;

	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;
	color: white;
	text-align: center;
	text-shadow: none;
	letter-spacing: 10px;
	text-transform: uppercase;
	padding: 5px;
	border: 1px solid;
	box-sizing: border-box;
	margin: 10px 10px 20px 10px;
}

.section-indicator {
	text-align: center;
	width: 12%;
	color: white;
	margin: 0 44%;
/*	margin: 0 27.5%;*/
	position: absolute;
	top: -100px;
/*	font-family: 'Ubuntu', sans-serif;
	padding: 15px;
	border: 2px solid white;
	border-radius: 5px;
	font-size: 24px;
	background-color: rgba(220,115,0,0.5);*/

	animation-name: bounceHover;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in;
}
/*--------------------*/
/*###### BIO #######*/
/*--------------------*/

#bio-wrap {
	background-color: black;
	background-size: cover;
	background-position: center;
	background-opacity: 0.5;
}

.bio-container {
	width: 100%;
	display: inline-block;
}

.bio-content {
	width: 100%;
	margin: 15px 0 15px 0;
	padding: 0 10px;
	box-sizing: border-box;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

	text-align: left;
	line-height: 20px;
	color: white;
	font-weight: lighter;
	font-size: 120%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.bio-profile-pic {
	float: right;
	width: 70%;
	margin: 10px;
}

.bio-profile-pic img {
	width: 100%;
}

/*--------------------*/
/*###### PHOTOS #######*/
/*--------------------*/
#photos-wrap {
	background-color: lightblue;
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#photos-wrap .page-section-header {
	color: black;
}

.photo-section-photo {
	width: 100%;
}

.photo-section-photo-wrap {
	width: 100%;
	float: left;
	/*margin: 0 0 10px 1%;*/
}


/*--------------------*/
/*###### MUSIC #######*/
/*--------------------*/

#music-wrap.page-section-wrap {
	display: block;
}

#music-wrap {
	background-color: darkgrey;
	overflow: auto;
}

/*--------------------*/
/*###### SOCIAL #######*/
/*--------------------*/

#social-wrap {
	background-color: rgb(200, 99, 0);
	overflow: auto;
}

.show-time-container {
	width: 90%;
	margin: 0 5% 20px 5%;
	padding: 20px;
	float: left;
	box-sizing: border-box;

	text-align: left;
	/*background-color: rgb(251, 150, 0);*/
	font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
	color: white;
}

.show-time-header {
	text-align: center;
}

.show-time {
	padding: 15px 0;
	/*text-decoration: underline;*/
}

.show-time-table-label {
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 16px;
}

.show-times-list {
	margin-left: 20px;
}

#twitter-widget-0 {
	width: 100% !important;
}

.twitter-embed-container {
	padding: 0 10px;
	box-sizing: border-box;
}


.twitter-timeline {
	width: 100%;
}

.instagram-media {
	width: 97% !important;
	max-width: 520px !important;
	margin: 0 1.5% !important;
}

.site-footer__ebreezy-tag {
	margin: 0 0 0 -20px;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
}

.site-footer__ebreezy-tag a:hover {
	text-decoration: underline;
}

/*GOOD*/

@media (min-width: 786px) {


	.background-video {
		top: 91px;
		background-position: initial;
	}

	.top-section {
		width: 100%;
	}

	.header-nav-container {
		/*box-shadow: 0px 6px 14px rgb(70,70,70);*/
		box-shadow: 0 2px 5px darkorange;

	}

	.site-header {
		padding: 0;
		background-color: transparent;
	}

	.site-header p {
		padding: 0 20%;
		box-sizing: border-box;
		margin-right: -40px;

		font-size: 300%;
		text-align: center;
		text-shadow: none;
		letter-spacing: 40px;
	}

	.nliten-logo-wrap {
		display: block;
		margin-right: 0;
	}

	.nav-hamburger {
		display: none;
	}

	.nav-container {
		padding: 0 20%;
		/*background-color: black;*/
		background-color: white;
	}

	.nav-list {
		display: block !important;
		padding: 0;

		text-align: center;
	}

	.nav-list-item {
		padding-top: 0;
		display: inline-block;
		border: none;
		color: black;
		padding: 0 0 5px 16px;
		
		
		text-align: left;
	}

	.nav-list-item:first-child {
		padding-left: 0;
	}

	.nav-list-item a {
		transition: color 0.2s linear;
	}

	.nav-list-item a:hover {
		color: darkorange;
	}

	.nav-list-item.nav-list-item-line {
		padding: 5px;
		border-left: 2px solid black;
		margin-left: 10px;
		margin-bottom: -6px;
		height: 10px
	}

	.nav-list-item:last-child {
		/*float: right;*/
	}

	.nav-list-social {
		padding: 0;
	}

	.nav-list-social-item {
		margin: 0;
		padding-right: 10px;
		box-sizing: border-box;
		height: auto;
	}

	.nliten-logo {
		width: 80px;
		float: left;
	}

	#ig-icon {
		margin-bottom: -2px;
	}

	#fb-icon {
		width: 116.5%;
		margin-bottom: -3px;
	}

	.page-section-wrap {
		padding-top: 50px;
	}

	.section-indicator {
		width: 4%;
		margin: 0 48%;
	}

	.bio-container {
		width: 80%;
		margin: 0 auto;
		display: block;
	}	

	.bio-content {
		float: none;
		width: 100%;
		text-align: left;
		line-height: 22px;
		letter-spacing: 1px;
	}

	.bio-profile-pic {
		width: 45%;
		float: right;
		margin: 20px;
	}
/*
	.video-area-container {
		width: 70%
	}
*/
	#facebook-icon {
		width: 116%;
		margin-bottom: -2px;
	}

	#twitter-icon {
		width: 140%;
  		margin-bottom: -5px
	}

	#sc-icon {
		margin-bottom: -10px;
	}

	.section-content-container {
		max-width: 1440px;
		margin: 0 auto;
	}

	.twitter-embed-container {
		width: 45%;
		float: right;
	}

	#twitter-widget-0 {
		width: 100%;
	}

	.music-container {
		width: 70%;
		float: left;
	}


	.sc-embed {
		width: 40%;
	}

	#sc-embed1,
	#sc-embed3 {
		margin: 0 6.5%;
	}

	#sc-embed1,
	#sc-embed2 {
		margin-bottom: 20px;
	}

/*--------------------*/
/*###### PHOTO #######*/
/*--------------------*/

.photo-section-photo-wrap {
	width: 32%;
	margin: 0 0 10px 1%;
}
	
/*--------------------*/
/*###### SOCIAL #######*/
/*--------------------*/

	.show-time-container {
		width: 50%;
		padding: 20px 20px 20px 50px;
		margin: 0 0 0 10px;
		
	}

	.fb_iframe_widget {
		margin-bottom: 15px;
	}

	.instagram-media {
		max-width: 44%  !important;
		width: 44% !important;
		margin: 0 0 0 50px !important;
	}



}

@media (min-width: 960px) {

	.site-header p {
		font-size: 350%;
	}

}

@keyframes bounceHover {
	from {
		top: -100px;
	}

	to {
		top: -85px;
	}
}

/*@keyframes pulseImage {
	0% {
		width: 5px;
		height: 5px;
		box-shadow: 0 0 10px orange;
	}

	40% {
		width: 80px;
		height: 80px;
		box-shadow: 0 0 15px orange;
		transform: rotate(720deg);
	}

	100% {
		width: 80px;
		height: 80px;
		box-shadow: 0 0 15px orange;
		transform: rotate(720deg);
	}
}*/







